<div ng-controller="app.views.about as vm">
    <h2>@L("AboutTheCloudEvent")</h2>
    <p>
        @L("CloudEventDescription")
    </p>

    <h3>@L("SomeStatistics")</h3>

    <div class="row statistics-list">
        <div class="col-sm-6 col-md-3" ng-repeat="statisticItem in vm.statisticItems">
            <div class="statistic-item">
                <span class="statistic-value">{{statisticItem.value}}</span>
                <span class="statistic-name">{{statisticItem.name}}</span>
            </div>
        </div>
    </div>

    <p><i>@L("StatisticsNote")</i></p>

    <h3>@L("Links")</h3>
    <ul>
        <li>@L("SourceCodeOfThisApplication"): <a href="https://github.com/aspnetboilerplate/eventcloud"><strong>github.com/aspnetboilerplate/eventcloud</strong></a></li>
        <li>@L("AbpOfficialWebSite"): <a href="http://www.aspnetboilerplate.com"><strong>aspnetboilerplate.com</strong></a></li>
        <li>@L("OfficialForum"): <a href="http://forum.aspnetboilerplate.com"><strong>forum.aspnetboilerplate.com</strong></a></li>
    </ul>
</div>